
body, #background {
  background: #141414;
  color: #FFF;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: #222;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #FFF;
    background-color: #424141;
}

.navbar-inverse {
    background-color: #000;
    border-color: #000;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 60px;
  margin-top: 100px;
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}

.carousel-caption {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0 0 10px 25px;
  color: #fff;
  text-align: left;
}

.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;
  text-align: right;
}


@media (min-width: 1200px) {
  .container {
    width: 1440px;
  }
}

.white{

	background-color: #FFF;
}

.portfolio-item {
	margin-top: 25px;
    margin-bottom: 25px;
}

a {
    color: #FFF;
    text-decoration: none;
}

/*
.no-gutter > [class*='col-'] {
    padding-right:80px;
    padding-left:80px;
}




#firstRow > img: nth-of-type(1){
	margin-left: 80px;

}

#firstRow > img: nth-of-type(3){
	margin-: 80px;

}

*/


